.header__logo,
.section-left__title {
  font-family: 'PT Serif', serif;
}

.header__link,
.section-left__text,
.section-left__button {
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1920px;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header__logo,
.header__menu {  display: inline-block;}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: 40px 0;
  font-size: 24px;
  padding-left: 44px;
  position: relative;
}

.header__logo_circle {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.header__logo_circle_color_dark-blue {
  background: #0056EC;
}

.header__logo_circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__link {
  padding: 0 13px;
  font-size: 18px;
}

.header__link:last-child {  padding-right: 0;}

.main {
  display: flex;
  justify-content: space-between;
}

.section-left { margin: 0;}

.section-left__title {
  margin: 0;
  padding: 214px 0 40px 0;
  width: 40%;
  font-size: 66px;
}

.image {
  display: flex;
  align-items: center;
}

.section-left__text {
  margin: 0;
  padding: 0 0 41px 0;
  font-size: 22px;
  width: 34%;
}

.section-left__button {
  width: 271px;
  height: 57px;
  background: #0056EC;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
